<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credits</title>
</head>
<body>
    <a href="https://www.flaticon.com/free-icons/export" title="export icons">Export icons created by NickyLimYeanFen - Flaticon</a>
    <a href="https://www.flaticon.com/free-icons/upload" title="upload icons">Upload icons created by Freepik - Flaticon</a>
    <a href="https://www.flaticon.com/free-icons/error" title="error icons">Error icons created by Freepik - Flaticon</a>
    <a href="https://www.flaticon.com/free-icons/question-mark" title="question mark icons">Question mark icons created by Anggara - Flaticon</a>
</body>
</html>